Exemplos Entity Framework/Simples-e/Playground/SimplesE.BasicIntegrationConsole/Service References/SimplesEService/CoreService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SimplesE.Model.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SimplesE.Model.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:42734/CoreService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SimplesE.Model.Core" />
  <xs:import schemaLocation="http://localhost:42734/CoreService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="ServiceResultOfUserryr_PNDnd">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SimplesE.Model.Service" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="User" Namespace="http://schemas.datacontract.org/2004/07/SimplesE.Model.Core" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResult">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SimplesE.Model.Core" minOccurs="0" name="Result" nillable="true" type="q1:User" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultOfUserryr_PNDnd" nillable="true" type="tns:ServiceResultOfUserryr_PNDnd" />
  <xs:complexType name="ServiceResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Completed" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Exception" nillable="true" type="q2:Exception" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResult" nillable="true" type="tns:ServiceResult" />
</xs:schema>